@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
header{

    display: grid;
    grid-template-areas: "a b c" "a d c" "a e c";
    grid-auto-columns: 180px auto 180px;
    background-color: #3768A7;
}
.logo{ /*TECNM*/
    display: flex;
    grid-area: a;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    /*align-items: center;
    justify-content: center;*/
    
}
.logo img{
    width: 262.15px;
    height: 145px;
}
header .titulo{ /*tecnologico nacional de mexico*/
    
    display: flex;
    grid-area: b;
    color:white;
    text-transform: uppercase;
    margin-left: 250px;
    padding-left: 20%;
    margin-top: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .titulo2{
    display: flex;
    grid-area: d;
    color:white;
    text-transform: uppercase;
    margin-left: 275px;
    text-align: center;
    padding-left: 20%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header .titulo3{
    display: flex;
    grid-area: e;
    color:white;
    text-transform: uppercase;
    margin-left: 340px;
    padding-left: 20%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo2{
    display: flex;
    grid-area: c;
    padding-right: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo2 img{
    width: 154.15px;
    height: 140px;
}

.menu{
    display: grid;
    grid-template-areas: "a b";
    height: 75px;
    background-color: #2140AE;
    grid-auto-columns:  100px auto;
}
.menu img{
    grid-area: a;
    padding-left: 5px;
    padding-top: 5px;
}
.menu div{
    grid-area: b;
    display: grid;
    grid-template-areas: "a b" "c b" ;
    grid-auto-columns:  auto 100px;
}

.menu div h4{
    grid-area: a;
    text-align: right;
    color: white;
}
.menu div img{
    grid-area: b;
    padding-left: 15px;
}
.menu div p{
    grid-area: c;
    text-align: right;
    color: white;
}