@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
header{

    display: grid;
    grid-template-areas: "a b c" "a d c" "a e c";
    grid-auto-columns: 350px auto 200px;
    background-color: #3768A7;
}
.logo{ /*TECNM*/
    display: flex;
    grid-area: a;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    /*align-items: center;
    justify-content: center;*/
    width: 300px;
    
}
.logo img{
    width: 100%;
    height: 100%;
}
header .titulo{ /*tecnologico nacional de mexico*/
    display: flex;
    grid-area: b;
    color:white;
    text-transform: uppercase;
    margin-left: 10%;
    /*padding-left: 20%;*/
    margin-top: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .titulo2{
    display: flex;
    grid-area: d;
    color:white;
    text-transform: uppercase;
    margin-left: 13%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header .titulo3{
    display: flex;
    grid-area: e;
    color:white;
    text-transform: uppercase;
    margin-left: 23%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo2{
    display: flex;
    grid-area: c;
    margin-right: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo2 img{
    width: 100%;
    height: 100%;
}

.menu{
    display: grid;
    grid-template-areas: "f g h";
    height: 75px;
    background-color: #2140AE;
    grid-auto-columns:  300px 350px auto;
}
.menu .cerrar_sesion{
    grid-area: f;
    padding-top: 5px;
    align-items: center;

}
/*
.cerrar_sesion:hover{
    background-color: #182a6e;
}*/

.menu .cambiar_contra{
    grid-area: g;
    padding-top: 5px;
    align-items: center;
}
/*
.cambiar_contra:hover{
    background-color: #182a6e;
}*/

.menu div{
    grid-area: h;
    display: grid;
    grid-template-areas: "a b" "c b" ;
    grid-auto-columns:  auto 100px;
}

.menu div h4{
    grid-area: a;
    text-align: right;
    color: white;
}
.menu div img{
    grid-area: b;
    padding-left: 15px;
}
.menu div p{
    grid-area: c;
    text-align: right;
    color: white;
}